{% extends 'base.html.twig' %}

{% block body %}

<!-- Container Central - Grid products on click -->
<div class="imageBabyRoom" style="background-image: url('{{ asset('build/images/baby-room.png')}}');">

    <!-- Line N°1 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°1 -->

    <!-- Line N°2 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°2 -->

    <!-- Line N°3 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°3 -->

    <!-- Line N°4 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <img class="img-fluid" src="{{asset('build/images/slippers-brown.png')}}" alt="Chaussons de bébé">
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°4 -->

    <!-- Line N°5 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°5 -->

    <!-- Line N°6 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°6 -->

    <!-- Line N°7 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <img class="img-fluid" src="{{asset('build/images/rabbit-comforter.png')}}" alt="Doudou lapin">
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°7 -->

    <!-- Line N°8 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <img class="img-fluid" src="{{asset('build/images/soft-toy.png')}}" alt="Peluche Amigouroumi">
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°8 -->

    <!-- Line N°9 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°9 -->

    <!-- Line N°10 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°10 -->

    <!-- Line N°11 -->
    <div class="row col-12">

        <!-- Case 1 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 2 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 3 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 4 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 5 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 6 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 7 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 8 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 9 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 10 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 11 -->
        <div class="col-1 border">
            <p>image</p>
        </div>

        <!-- Case 12 -->
        <div class="col-1 border">
            <p>image</p>
        </div>
    </div> <!-- Line N°11 -->

</div> <!-- Container Central - Grid products on click -->

{% endblock %}
