{% extends 'base.html.twig' %}

{% block body %}

<h1>Bonjour,</h1>

<h2 class="mb-5">Bienvenue sur Les Trésors de Grany</h2>

<img class="img-fluid" src="{{asset('build/images/baby-room.png')}}" alt="chambre de bébé">

{% endblock %}
