{% extends 'base.html.twig' %}

{% block body %}

<!-- Container background -->
<div class="ContainerBackground text-center p-0">

<img class="img-fluid" src="{{asset('build/images/baby-room.png')}}" alt="chambre de bébé">

</div>

{% endblock %}
