includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    
parameters:
    # Mettre le niveau d'analyse :
    level: 6
    
    # Vous pouvez choisir parmi 9 niveaux (0 est le plus lâche et 8 est le plus strict).
    # Souvent j’utilise le niveau 5 parce que le niveau 6 vérifie que chaque méthode renvoie le type.
    # Comme les commandes du générateur de code Symfony ne remplissent pas ces types de retour, il est très gênant de définir un niveau supérieur à 5.
    # Feel free to use the one you prefer. You could even set it to 0 to start slowly

    symfony:
        # ou avec Symfony 4.2+
        # container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml

        # ou avec Symfony 5+
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

    paths:
        # Indiquer le chemin du dossier à analyser :
        - src
        
        # si vous avez des tests et que vous souhaitez analyser ce dossier, décommenter la ligne ci-dessous
        # - tests

        # Pour exclure des fichiers entiers :
        #  excludePaths:
                # - tests/*/data/*

    # Pour ignorer certaines erreurs trouvées par PHPStan :
    ignoreErrors:
            # Pour Générer une entrée ignoreErrors, se rendre sur le site :
                # https://phpstan.org/user-guide/ignoring-errors
            # et remplir les champs pour générer votre entrée ignoreErrors.

            -
                message: '#^Property App\\Entity\\Civilite\:\:\$contacts with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
                path: src/Entity/Civilite.php

            -
                message: '#^Property DoctrineMigrations\\Version20230226205025\:\:\$titres type has no value type specified in iterable type array\.$#'
                path: migrations\Version20230226205025.php

            -
                message: '#^Property DoctrineMigrations\\Version20230226205025\:\:\$categories type has no value type specified in iterable type array\.$#'
                path: migrations\Version20230226205025.php