<!-- Container Header -->
<Footer>

	<!-- Container Top - Navbar -->
	<div class="row border-top border-dark">

		<!-- Container Navbar product -->
		<div class="row">

			<!-- Classic inline Navbar -->
			<nav class="footerNavbar text-center pt-4" role="navigation" aria-label="Menu accès aux produits catalogue">
				<ul class="list-inline text-capitalize">
					<li class="list-inline-item"><a class="linkSoftToys px-2 text-dark" href="#">peluches (Amigurumi)</a></li>
					<li class="list-inline-item"><a class="linkComforter px-2 text-dark" href="#">doudous</a></li>
					<li class="list-inline-item"><a class="linkRattles px-2 text-dark" href="#">hochets</a></li>
					<li class="list-inline-item"><a class="linkToys px-2 text-dark" href="#">jouets</a></li>
					<li class="list-inline-item"><a class="linkFloorMats px-2 text-dark" href="#">tapis de sol</a></li>
					<li class="list-inline-item"><a class="linkBlankets px-2  text-dark" href="#">couvertures</a></li>
					<li class="list-inline-item"><a class="linkGrannys px-2 text-dark" href="#">grannys</a></li>
					<li class="list-inline-item"><a class="linkSlippers px-2 text-dark" href="#">chaussons</a></li>
					<li class="list-inline-item"><a class="linkAccessories px-2 text-dark" href="#">accessoires</a></li>
					<li class="list-inline-item"><a class="linkNovelties px-2 text-dark" href="#">nouveautés</a></li>
				</ul>
			</nav>
			
		</div> <!-- Container Navbar product -->

		<!-- Container Navbar general-->
		<div class="row">

			<!-- Classic inline Navbar -->
			<nav class="footerNavbar text-center" role="navigation" aria-label="Menu principal">
				<ul class="list-inline text-capitalize">
					<li class="list-inline-item"><a class="linkHome px-2 text-dark" href="#" aria-current="page">accueil</a></li>
					<li class="list-inline-item"><a class="linkCatalogue px-2 text-dark" href="#">catalogue</a></li>
					<li class="list-inline-item"><a class="linkAbout px-2 text-dark" href="#" aria-label="About me">à propos de moi</a></li>
					<li class="list-inline-item"><a class="linkCleaning px-2 text-dark" href="#">entretien nettoyage</a></li>
					<li class="list-inline-item"><a class="linkPolicy px-2 text-dark" href="#">politique de confidentialité</a></li>
					<li class="list-inline-item"><a class="linkMap px-2 text-dark" href="#">plan du site</a></li>
				</ul>
			</nav>
		</div> <!-- Container Navbar general-->
	</div> <!-- Container Top -->

		<!-- Container Middle - Send message -->
		<div class="row align-items-center justify-content-evenly">
			<a class="col-2 linkContact mt-4 text-capitalize text-dark fw-bold" href="#">envoyer un message</a>
			<p>59000 Lille - France</p>
			<p class="col-2 text-center"><span><i class="fa-regular fa-envelope"></i></span> contact@grany.fr</p>
		</div>

	<!-- Container Bottom - Contact / Copyright -->
	<div class="row align-items-center contact">
		<p class="col-2 offset-7 text-end">2022 Lille - </p>
		<img class="col-1 img-fluid p-0" style = "width: 30px;" src="{{ asset('build/images/pom-grany.jpg')}}" alt="Logo pomme">
		<p class="col-2 text-start">Pom & Grany Production</p>
	</div>

</Footer>
