        <!-- Container Header -->
        <Footer class="">

			<!-- Container Top - Navbar -->
			<div class="row border-top border-dark">

				<!-- Container Navbar -->
				<div class="col">

					<!-- Classic inline Navbar -->
					<nav class="footerNavbar text-center">

						<ul class="list-inline">

							<li class="list-inline-item"><a class="linkHome px-2 text-capitalize" href="" aria-label="home page" aria-current="page">accueil</a></li>
							<li class="list-inline-item"><a class="link??? px-2 text-capitalize" href="" aria-label=""></a></li>

							<li class="list-inline-item"><a class="linkAbout px-2 text-capitalize" href="" aria-label="About us">à propos</a></li>


							<li class="list-inline-item"><a class="linkContact px-2 text-capitalize" href="" aria-label="Contact us" >envoyer un message</a></li>
							<li class="list-inline-item"><a class="linkMap px-2 text-capitalize" href="">Sitemap</a></li>
							<li class="list-inline-item"><a class="linkPolicy px-2 text-capitalize" href="">politique de confidentialité</a></li>

						</ul>

					</nav>
					
				</div> <!-- Container Navbar -->
				
			</div> <!-- Container Top -->
			
				<!-- Container Middle - Accessibility Responsive icons -->
				<div class="row align-items-center justify-content-evenly">

					<a class="col-1" href="#"><i class="fab fa-linkedin fs-1" style="color:#3256aa;"></i></a>

					<i class="col-1 fab fa-accessible-icon text-center fs-1"></i>

					<img class="col-1 img-fluid" style = "width: 70px; margin-left: 1rem;" src="./Public/images/Responsive icon1.png" alt="Responsive icon">
				
				</div>

			<!-- Container Bottom - Copyright / Registered -->
			<div class="row align-items-center">
				<p class="copyright text-center mt-3">Visual TreeDOM <span><i class="fas fa-copyright"></i></span> 2021</p>
			</div>

        </Footer>
