<!-- Container Header -->
<header class="row">

    <!-- Container Logo -->
    <div class="containerImageLogo col-1 offset-1">
        <img class="img-fluid" style="width: 90%;" src="{{ asset('build/images/logo-grany.png')}}" alt="logo les trésors de Grany">
    </div>

    <!-- Container General - Logo / Title / Arguments/ Slogan / Navbar -->
    <div class="col-10">

        <!-- Container Top - Title / Arguments -->
        <div class="row d-flex justify-content-between p-0">
            <div class="col-9 p-0">
                <ul class="titleLetters m-0" role="title" aria-label="les trésors de grany">
                    <li class="text-capitalize">l</li>
                    <li>e</li>
                    <li>s</li>
                    <li>-</li>
                    <li class="text-capitalize">t</li>
                    <li>r</li>
                    <li>é</li>
                    <li>s</li>
                    <li>o</li>
                    <li>r</li>
                    <li>s</li>
                    <li>-</li>
                    <li>d</li>
                    <li>e</li>
                    <li>-</li>
                    <li class="text-capitalize">g</li>
                    <li>r</li>
                    <li>a</li>
                    <li>n</li>
                    <li>y</li>
                </ul>
            </div>

            <div class="containerArguments col-3 d-flex text-muted p-0 align-items-end">
                <div class="arguments col-12">
                    <p class="p-0">Confectionné en France</p>
                    <p class="p-0">Fait main à partir de fils de coton</p>
                </div>
            </div>
        </div>

        <!-- Container Bottom - Slogan / Navbar -->
        <div class="row">

            <!-- Container Slogan -->
            <div class="slogan col-12">
                <p class="text-dark fw-bold m-0">Confection au crochet de peluches (Amigurumi), doudous, hochets, jouets, tapis de sol, couvertures, chaussons</p>
            </div>

        </div> <!-- Container Bottom -->

    </div> <!-- Container General -->

    <!-- Container General - Navbar -->
    <div class="col-12">

        <!-- Container Navbar -->
        <div class="containerNavbar row text-capitalize">

            <!-- breadcrumb -->
            <p class="containerBreadcrumb col-3 offset-1 text-muted fst-italic text-decoration-underline" aria-label="breadcrumb">
            {# {% if {{breadcrumb}}= '' %}
                Accueil
            {% else %}
                <a class="linkHome text-dark" href="#">Accueil</a> > {{breadcrumb}}
            {% endif %} #}
            <a class="linkHome text-dark" href="#">Accueil</a> > {{breadcrumb}}
            </p>

            {# TODO : Reprendre breadcrumb #}
            {# <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav> #}

            <!-- Classic inline Navbar -->
            <nav class="headerNavbar col-8 d-flex align-self-end justify-content-end" role="navigation" aria-label="Menu principal">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="linkHome text-dark" href="#">accueil</a></li>

                    <!-- Dropdown link / Catalogue-->
                    <li class="list-inline-item nav-item dropdown"></li>
                        <a class="linkCatalogue text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" role="navigation" aria-label="Menu du catalogue" aria-haspopup="true" aria-controls="catalogueHeader-id">catalogue</a>
                        <ul id="catalogueHeader-id" class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="linkPresentation dropdown-item text-dark" href="#">présentation</a></li>
                            <li><a class="linkSoftToys dropdown-item text-dark" href="#">peluches (Amigurumi)</a></li>
                            <li><a class="linkComforters dropdown-item text-dark" href="#">doudous</a></li>
                            <li><a class="linkRattles dropdown-item text-dark" href="#">hochets</a></li>
                            <li><a class="linkToys dropdown-item text-dark" href="#">jouets</a></li>
                            <li><a class="linkFloorMats dropdown-item text-dark" href="#">tapis de sol</a></li>
                            <li><a class="linkBlankets dropdown-item text-dark" href="#">couvertures</a></li>
                            <li><a class="linkGrannys dropdown-item text-dark" href="#">grannys</a></li>
                            <li><a class="linkSlippers dropdown-item text-dark" href="#">chaussons</a></li>
                            <li><a class="linkAccessories dropdown-item text-dark" href="#">accessoires</a></li>
                        </ul>
                    </li>

                    <li class="list-inline-item"><a class="linkNovelties text-dark" href="#">nouveautés</a></li>
                    <li class="list-inline-item"><a class="linkContact text-dark" href="#">envoyer un message</a></li>

                    <!-- Dropdown link / About-->
                    <li class="list-inline-item nav-item dropdown">
                        <a class="linkAbout text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" role="navigation" aria-label="Menu à propos" aria-haspopup="true" aria-controls="aboutHeader-id">à propos</a>
                        <ul id=="aboutHeader-id" class="dropdown-menu text-capitalize" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="linkAboutMe dropdown-item text-dark" href="#">à propos de moi</a></li>
                            <li><a class="linkCleaning dropdown-item text-dark" href="#">entretien nettoyage</a></li>
                            <li><a class="linkPolicy dropdown-item text-dark" href="#">politique de confidentialité</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Menu burger / Mobile version -->
            <nav class="headerNavbarBurger col-1 d-flex align-self-end justify-content-end dropstart" role="navigation" aria-label="Menu principal">
                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="menu-id">
                <i class="fa-solid fa-bars"></i></button>

                <ul id="menu-id" class="list-unstyled dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="linkHome text-dark dropdown-item" href="#">accueil</a></li>

                    <!-- Dropdown link / Catalogue-->
                    <li class="dropdown">
                        <a class="linkCatalogue text-dark dropdown-item" href="#" role="navigation" aria-label="Menu du catalogue" aria-expanded="false" aria-haspopup="true" aria-controls="catalogue-id">catalogue</a>
                        <ul id="catalogue-id" class="dropdown-menu dropdown-submenu dropdown-submenu-left text-capitalize">
                            <li><a class="linkPresentation dropdown-item text-dark" href="#">présentation</a></li>
                            <li><a class="linkSoftToys dropdown-item text-dark" href="#">peluches (Amigurumi)</a></li>
                            <li><a class="linkComforters dropdown-item text-dark" href="#">doudous</a></li>
                            <li><a class="linkRattles dropdown-item text-dark" href="#">hochets</a></li>
                            <li><a class="linkToys dropdown-item text-dark" href="#">jouets</a></li>
                            <li><a class="linkFloorMats dropdown-item text-dark" href="#">tapis de sol</a></li>
                            <li><a class="linkBlankets dropdown-item text-dark" href="#">couvertures</a></li>
                            <li><a class="linkGrannys dropdown-item text-dark" href="#">grannys</a></li>
                            <li><a class="linkSlippers dropdown-item text-dark" href="#">chaussons</a></li>
                            <li><a class="linkAccessories dropdown-item text-dark" href="#">accessoires</a></li>
                        </ul>
                    </li>

                    <li><a class="linkNovelties text-dark dropdown-item" href="#">nouveautés</a></li>
                    <li><a class="linkContact text-dark dropdown-item" href="#">envoyer un message</a></li>

                    <!-- Dropdown link / About-->
                    <li class="dropdown">
                        <a class="linkAbout text-dark dropdown-item" href="#" role="navigation" aria-label="Menu à propos" aria-expanded="false" aria-haspopup="true" aria-controls="about-id">à propos</a>
                        <ul id="about-id" class="dropdown-menu dropdown-submenu dropdown-submenu-left text-capitalize">
                            <li><a class="linkAboutMe dropdown-item text-dark" href="#">à propos de moi</a></li>
                            <li><a class="linkCleaning dropdown-item text-dark" href="#">entretien nettoyage</a></li>
                            <li><a class="linkPolicy dropdown-item text-dark" href="#">politique de confidentialité</a></li>
                        </ul>
                    </li>
                </ul>
            </nav> <!-- Menu burger / Mobile version -->
        </div> <!-- Container Navbar -->
</header>
