body {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    }

/* h2 {
    font-family: 'dancing script', Verdana, Geneva, Tahoma, sans-serif;
    } */

    /* Style */

/* Container Main */
#content {
    flex-grow:1;
    min-height:35vh;
	display:flex;
	flex-direction:column;
}

/* Header style */
    /* Header Title */
    .titleLetters > li  {
        font-family: 'dancing script', Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block;
        font-weight: bold;
    }
    .titleLetters li:nth-child(1), li:nth-child(11) { color: rgb(63, 72, 204); }
    .titleLetters li:nth-child(2), li:nth-child(13) { color: rgb(163, 73, 164); }
    .titleLetters li:nth-child(3), li:nth-child(14) { color: rgb(255, 174, 201); }
    .titleLetters li:nth-child(4), li:nth-child(12), li:nth-child(15) { color: white; }
    .titleLetters li:nth-child(5), li:nth-child(16) { color: rgb(237, 28, 36); }
    .titleLetters li:nth-child(6), li:nth-child(17) { color: rgb(255, 127, 39); }
    .titleLetters li:nth-child(7), li:nth-child(18) { color: rgb(252, 202, 3); }
    .titleLetters li:nth-child(8), li:nth-child(19) { color: rgb(34, 177, 76) }
    .titleLetters li:nth-child(9), li:nth-child(20) { color: rgb(0, 162, 232) }
    .titleLetters li:nth-child(10) { color: rgb(112, 146, 190) }

    /* Header Navbar */
    .linkHome:hover, .linkCatalogue:hover, .linkNovelties:hover, .linkContact:hover, .linkAbout:hover, .linkPresentation:hover,
    .linkSoftToys:hover, .linkComforters:hover, .linkRattles:hover, .linkToys:hover, .linkFloorMats:hover, .linkBlankets:hover,
    .linkGrannys:hover, .linkSlippers:hover, .linkAccessories:hover, .linkAboutMe:hover, .linkCleaning:hover, .linkPolicy:hover {
        background-color: rgb(196, 41, 160);
        border-radius: 0.5rem;
        color: white!important;
        font-weight: 800;
        padding: 0.3rem;
    }

    .linkHome:focus, .linkCatalogue:focus, .linkNovelties:focus, .linkContact:focus, .linkAbout:focus, .linkPresentation:focus,
    .linkSoftToys:focus, .linkComforters:focus, .linkRattles:focus, .linkToys:focus, .linkFloorMats:focus, .linkBlankets:focus,
    .linkGrannys:focus, .linkSlippers:focus, .linkAccessories:focus, .linkAboutMe:focus, .linkCleaning:focus, .linkPolicy:focus {
        background-color: rgb(196, 41, 160);
        border-radius: 0.5rem;
        color: white!important;
        font-weight: 800;
        padding: 0.3rem;
    }

    .headerNavbar {
        display: block;
    }

    /* Navbar Burger */
    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
    }

    .headerNavbarBurger {
        display: block;
    }

/* Body Homepage style */
.imageBabyRoom {
    position : relative;
    /* min-height: 93vh; */
}

    /* Drawing button slippers - Chaussons */
    .linkSlippersBrownDrawing img {
        position: absolute;
        height: auto;
        left: 10%;
    }

    /* Drawing button rabbit comforter - Doudou lapin */
    .linkRabbitComforterDrawing img {
        position: absolute;
        height: auto;
        left: 3%;
    }

    /* Drawing button floor mat - Tapis de sol */
    .linkFloorMatDrawing img {
        position: absolute;
        height: auto;
        left: 9%;
    }

    /* Drawing button rabbit rattle - Hochet lapin */
    .linkRabbitRattleDrawing img {
        position: absolute;
        height: auto;
        left: 22%;
    }

    /* Drawing button drawing board - Tableau dessin */
    .DrawingBoardDrawing img {
        position: absolute;
        height: auto;
        left: 28%;
    }

    /* Text drawing board - Texte Nouveautés */
    .NoveltiesText {
        position: absolute;
        margin-bottom: 0;
        transform: rotate(-3.5deg);
        font-weight: bold;
        color: red;
    }

    /* Drawing button soft toy - Amigurumi */
    .linkSoftToyDrawing img {
        position: absolute;
        height: auto;
        left: 33%;
    }

    /* Drawing dog - Bingo */
    .dogDrawing img {
        position: absolute;
        height: auto;
    }

    /* Drawing button cradle - Berceau */
    .linkCradleDrawing img {
        position: absolute;
        height: auto;
    }

    /* Image cat - Chat */
    /* .catgDrawing img {
        width: 4%;
        height: auto;
        position: absolute;
        left: 1020px;
        top: 720px;
    } */

    /* Drawing button mobile - Mobile */
    /* .linkMobileDrawing {
        position: absolute;
        left: 1150px;
        top: 20px;
    } */

    /* Drawing button ball - Balle */
    /* .linkBallDrawing {
        width: 4.5%;
        height: auto;
        position: absolute;
        left: 1400px;
        top: 700px;
    } */

    /* Drawing button toy cubes - Cubes */
    /* .linkToyCubesDrawing {
        width: 6%;
        height: auto;
        position: absolute;
        left: 1550px;
        top: 600px;
    } */

    /* Drawing button rattle - Hochet */
    /* .linkRattleDrawing {
        width: 4%;
        height: auto;
        position: absolute;
        left: 1450px;
        top: 405px;
    } */

    .linkSlippersBrownDrawing img:hover, .linkRabbitRattleDrawing img:hover, .linkSoftToyDrawing img:hover,
    .linkMobileDrawing img:hover, .linkBallDrawing img:hover, .linkToyCubesDrawing img:hover, .linkRattleDrawing img:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .linkCradleDrawing img:hover, .linkFloorMatDrawing img:hover, .linkRabbitComforterDrawing img:hover,
    .linkDrawingBoardDrawing img:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

/* Footer style */
    .contact p {
        font-size: 0.8rem;
    }

    /* Footer Navbar */
    .linkPresentationF:hover, .linkSoftToysF:hover, .linkComfortersF:hover, .linkRattlesF:hover, .linkToysF:hover, .linkFloorMatsF:hover, .linkBlanketsF:hover,
    .linkGrannysF:hover, .linkSlippersF:hover, .linkAccessoriesF:hover, .linkNoveltiesF:hover, .linkHomeF:hover, .linkCatalogueF:hover,
    .linkAboutF:hover, .linkAboutMeF:hover, .linkCleaningF:hover, .linkPolicyF:hover, .linkMapF:hover, .linkContactF:hover {
        background-color: rgb(196, 41, 160);
        border-radius: 0.5rem;
        color: white!important;
        font-weight: 800;
        padding: 0.3rem;
    }

    .linkPresentationF:focus, .linkSoftToysF:focus, .linkComfortersF:focus, .linkRattlesF:focus, .linkToysF:focus, .linkFloorMatsF:focus, .linkBlanketsF:focus,
    .linkGrannysF:focus, .linkSlippersF:focus, .linkAccessoriesF:focus, .linkNoveltiesF:focus, .linkHomeF:focus, .linkCatalogueF:focus,
    .linkAboutF:focus, .linkAboutMeF:focus, .linkCleaningF:focus, .linkPolicyF:focus, .linkMapF:focus, .linkContactF:focus {
        background-color: rgb(196, 41, 160);
        border-radius: 0.5rem;
        color: white!important;
        font-weight: 800;
        padding: 0.3rem;
    }

/* Media queries Bootstrap */
    /* Extra small devices (portrait phones, 479px and down) */
    @media (max-width: 479px) {

    .containerImageLogo {
        padding-top: 0.2rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .titleLetters {
        padding-left: 0!important;
    }

    .titleLetters > li  {
        font-size: 0.7rem;
        padding-left: 0;
    }

    .containerArguments {
        margin-top: 0;
    }

    .arguments p {
        font-size: 0.2rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .slogan {
        font-size: 0.2rem;
        padding-left: 0;
    }

    .containerNavbar {
        margin-top: 0.3rem;
        display: flex;
        justify-content: space-between;
    }

    .containerBreadcrumb {
        margin-left: 3rem;
        font-size: 0.3rem;
        margin-bottom: 0;
    }

    .linkHome, .linkCatalogue, .linkNovelties, .linkContact, .linkAbout, .linkPresentation, .linkSoftToys, .linkComforters, .linkRattles,
    .linkToys, .linkFloorMats, .linkBlankets, .linkGrannys, .linkSlippers, .linkAccessories, .linkAboutMe, .linkCleaning, .linkPolicy {
        font-size: 0.3rem;
        padding-left: 1.5rem;
    }

    .list-inline-item {
        margin-right: 0!important;
    }

    .headerNavbar {
        display: none!important;
    }

    .headerNavbarBurger button {
        font-size: 0.6rem;
        padding: 0 0.2rem;
    }

    /* Body */
    .imageBabyRoomEmpty {
        display: none;
    }
    .linkSlippersBrownDrawing img, .linkRabbitRattleDrawing img, .linkDrawingBoardDrawing img, .NoveltiesText,
    .linkSoftToyDrawing img, .linkCradleDrawing img, .dogDrawing img, .catgDrawing img, .linkMobileDrawing img, .linkBallDrawing img, .linkToyCubesDrawing img,
    .linkRattleDrawing img, .linkFloorMatDrawing img, .linkRabbitComforterDrawing img {
        display: none;
    }

    /* Footer Navbar */
    .footerNavbar {
        display: none!important;
    }

    .list-inline {
        margin: 0;
    }

    .linkContactF {
        font-size: 0.2rem;
        margin-top: 0.2rem;
        padding: 0;
    }

    .infoContact {
        font-size: 0.2rem;
        margin-top: 0.1rem;
    }

    .infoProduction {
        font-size: 0.2rem;
        margin-bottom: 1rem;
    }

    .infoProduction p {
        margin-top: 0.2rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        margin-bottom: 0;
    }

    .infoProduction img {
        width: 2%;
    }

    }

    /* Small devices (landscape phones, 575px and 480px) */
    @media (max-width: 575px) and (min-width: 480px) {

    .containerImageLogo {
        padding-top: 0.2rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .titleLetters {
        padding-left: 0!important;
    }

    .titleLetters > li  {
        font-size: 0.7rem;
        padding-left: 0;
    }

    .containerArguments {
        margin-top: 0;
    }

    .arguments p {
        font-size: 0.2rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .slogan {
        font-size: 0.2rem;
        padding-left: 0;
    }

    .containerNavbar {
        margin-top: 0.3rem;
        display: flex;
        justify-content: space-between;
    }

    .containerBreadcrumb {
        margin-left: 3rem;
        font-size: 0.3rem;
        margin-bottom: 0;
    }

    .linkHome, .linkCatalogue, .linkNovelties, .linkContact, .linkAbout, .linkPresentation, .linkSoftToys, .linkComforters, .linkRattles,
    .linkToys, .linkFloorMats, .linkBlankets, .linkGrannys, .linkSlippers, .linkAccessories, .linkAboutMe, .linkCleaning, .linkPolicy {
        font-size: 0.3rem;
        padding-left: 1.5rem;
    }

    .list-inline-item {
        margin-right: 0!important;
    }

    .headerNavbar {
        display: none!important;
    }

    .headerNavbarBurger button {
        font-size: 0.6rem;
        padding: 0 0.2rem;
    }

    /* Body */
    .imageBabyRoomFull {
        display: none;
    }

    /* Drawing button slippers - Chaussons */
    .linkSlippersBrownDrawing img {
        width: 11px;
        top: 16%;
    }
    
    /* Drawing button rabbit comforter - Doudou lapin */
    .linkRabbitComforterDrawing img {
        width: 30px;
        top: 40%;
    }

    /* Drawing button floor mat - Tapis de sol */
    .linkFloorMatDrawing img {
        width: 78px;
        top: 32%;
    }

    /* Drawing button rabbit rattle - Hochet lapin */
    .linkRabbitRattleDrawing img {
        width: 18px;
        top: 45%;
    }

    /* Drawing button drawing board - Tableau dessin */
    .DrawingBoardDrawing img {
        width: 55px;
        top: 20%;
    }

    /* Text drawing board - Texte Nouveautés */
    .NoveltiesText {
        font-size: 0.2rem;
        left: 31%;
        top: 26%;
    }

    /* Drawing button soft toy - Amigurumi */
    .linkSoftToyDrawing img {
        width: 28px;
        top: 42%;
    }

    /* Drawing dog - Bingo */
    .dogDrawing img {
        width: 30px;
        left: 44%;
        top: 35%;
    }

    /* Drawing button cradle - Berceau */
    .linkCradleDrawing img {
        width: 125px;
        left: 52%;
        top: 18%;
    }

    /* Footer Navbar */
    .footerNavbar {
        display: none!important;
    }

    .list-inline {
        margin: 0;
    }

    .linkContactF {
        font-size: 0.2rem;
        margin-top: 0.2rem;
        padding: 0;
    }

    .infoContact {
        font-size: 0.2rem;
        margin-top: 0.1rem;
    }

    .infoProduction {
        font-size: 0.2rem;
        margin-bottom: 1rem;
    }

    .infoProduction p {
        margin-top: 0.2rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        margin-bottom: 0;
    }

    .infoProduction img {
        width: 2%;
    }

    }

    /* Small devices (landscape phones, 700px and 576px) */
    @media (max-width: 700px) and (min-width: 576px) {
    /* Header Navbar */
    .containerImageLogo {
        padding-top: 0.4rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .titleLetters {
        padding-left: 0!important;
    }

    .titleLetters > li  {
        font-size: 1.5rem;
    }

    .arguments {
        margin-bottom: 0.3rem;
    }

    .containerArguments {
        margin-top: 0;
    }

    .arguments p {
        font-size: 0.4rem;
        margin-top: 0rem;
        margin-bottom: 0;
    }

    .slogan {
        font-size: 0.4rem;
        padding-left: 0;
    }

    .containerNavbar {
        margin-top: 0.3rem;
        display: flex;
        justify-content: space-between;
    }

    .containerBreadcrumb {
        margin-left: 3rem;
        font-size: 0.3rem;
        margin-bottom: 0;
    }

    .linkHome, .linkCatalogue, .linkNovelties, .linkContact, .linkAbout, .linkPresentation, .linkSoftToys, .linkComforters, .linkRattles,
    .linkToys, .linkFloorMats, .linkBlankets, .linkGrannys, .linkSlippers, .linkAccessories, .linkAboutMe, .linkCleaning, .linkPolicy {
        font-size: 0.5rem;
        padding-left: 0.3rem;
    }

    .list-inline {
        margin-bottom: 0;
    }

    .list-inline-item {
        margin-right: 0!important;
    }

    .headerNavbarBurger {
        display: none!important;
    }

    .headerNavbarBurger button {
        font-size: 1rem;
    }

    /* Body */
    .imageBabyRoomFull {
        display: none;
    }

    /* Drawing button slippers - Chaussons */
    .linkSlippersBrownDrawing img {
        width: 14px;
        top: 16%;
    }
    
    /* Drawing button rabbit comforter - Doudou lapin */
    .linkRabbitComforterDrawing img {
        width: 30px;
        top: 45%;
    }

    /* Drawing button floor mat - Tapis de sol */
    .linkFloorMatDrawing img {
        width: 90px;
        top: 34%;
    }

    /* Drawing button rabbit rattle - Hochet lapin */
    .linkRabbitRattleDrawing img {
        width: 25px;
        top: 53%;
    }

    /* Drawing button drawing board - Tableau dessin */
    .DrawingBoardDrawing img {
        width: 88px;
        top: 24%;
    }

    /* Text drawing board - Texte Nouveautés */
    .NoveltiesText {
        font-size: 0.4rem;
        left: 32%;
        top: 31%;
    }

    /* Drawing button soft toy - Amigurumi */
    .linkSoftToyDrawing img {
        width: 40px;
        top: 55%;
    }

    /* Drawing dog - Bingo */
    .dogDrawing img {
        width: 40px;
        left: 47%;
        top: 45%;
    }

    /* Drawing button cradle - Berceau */
    .linkCradleDrawing img {
        width: 150px;
        left: 55%;
        top: 21%;
    }

    /* Footer Navbar */
    .footerNavbar {
        padding-top: 0;
    }

    .list-inline {
        margin: 0;
    }

    .linkPresentationF, .linkSoftToysF, .linkComfortersF, .linkRattlesF, .linkToysF, .linkFloorMatsF, .linkBlanketsF, .linkGrannysF, .linkSlippersF, .linkAccessoriesF,
    .linkNoveltiesF, .linkHomeF, .linkCatalogueF, .linkAboutF, .linkAboutMeF, .linkCleaningF, .linkPolicyF, .linkMapF {
        font-size: 0.3rem;
        padding-left: 0.1rem;
    }

    .linkContactF {
        font-size: 0.3rem;
        margin-top: 0.5rem;
    }

    .infoContact {
        font-size: 0.3rem;
        margin-top: 0.3rem;
    }

    .infoProduction {
        font-size: 0.3rem;
        margin-bottom: 0.5rem;
    }

    .infoProduction p {
        margin-top: 0.2rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        margin-bottom: 0;
    }

    .infoProduction img {
        width: 2%;
    }

    }

    /* Medium devices (tablets, 991px and 701px) */
    @media (max-width: 991px) and (min-width: 701px) {
    /* Header Navbar */
    .containerImageLogo {
        padding-top: 0.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .titleLetters {
        padding-left: 1.5rem!important;
    }

    .titleLetters > li  {
        font-size: 2.1rem;
    }

    .containerArguments {
        margin-top: 1rem;
    }

    .arguments p {
        font-size: 0.5rem;
        margin-bottom: 0;
    }

    .slogan {
        font-size: 0.5rem;
        padding-left: 1.2rem;
    }

    .containerNavbar {
        margin-top: 0;
    }

    .containerBreadcrumb {
        margin-left: 4rem;
        font-size: 0.5rem;
        margin-bottom: 0;
    }

    .linkHome, .linkCatalogue, .linkNovelties, .linkContact, .linkAbout, .linkPresentation, .linkSoftToys, .linkComforters, .linkRattles,
    .linkToys, .linkFloorMats, .linkBlankets, .linkGrannys, .linkSlippers, .linkAccessories, .linkAboutMe, .linkCleaning, .linkPolicy {
        font-size: 0.6rem;
        padding-left: 0.3rem;
    }

    .list-inline {
        margin-bottom: 0;
    }

    .list-inline-item {
        margin-right: 0!important;
    }

    .headerNavbarBurger {
        display: none!important;
    }

    /* Body */
    .imageBabyRoomFull {
        display: none;
    }

    /* Drawing button slippers - Chaussons */
    .linkSlippersBrownDrawing img {
        width: 20px;
        top: 18%;
    }
    
    /* Drawing button rabbit comforter - Doudou lapin */
    .linkRabbitComforterDrawing img {
        width: 40px;
        top: 48%;
    }

    /* Drawing button floor mat - Tapis de sol */
    .linkFloorMatDrawing img {
        width: 120px;
        top: 37%;
    }

    /* Drawing button rabbit rattle - Hochet lapin */
    .linkRabbitRattleDrawing img {
        width: 30px;
        top: 53%;
    }

    /* Drawing button drawing board - Tableau dessin */
    .DrawingBoardDrawing img {
        width: 90px;
        top: 24%;
    }

    /* Text drawing board - Texte Nouveautés */
    .NoveltiesText {
        font-size: 0.4rem;
        left: 31%;
        top: 30%;
    }

    /* Drawing button soft toy - Amigurumi */
    .linkSoftToyDrawing img {
        width: 45px;
        top: 51%;
    }

    /* Drawing dog - Bingo */
    .dogDrawing img {
        width: 50px;
        left: 42%;
        top: 45%;
    }

    /* Drawing button cradle - Berceau */
    .linkCradleDrawing img {
        width: 200px;
        left: 50%;
        top: 21%;
    }

    /* Footer Navbar */
    .footerNavbar {
        padding-top: 0;
    }

    .list-inline {
        margin: 0;
    }

    .linkPresentationF, .linkSoftToysF, .linkComfortersF, .linkRattlesF, .linkToysF, .linkFloorMatsF, .linkBlanketsF, .linkGrannysF, .linkSlippersF, .linkAccessoriesF,
    .linkNoveltiesF, .linkHomeF, .linkCatalogueF, .linkAboutF, .linkAboutMeF, .linkCleaningF, .linkPolicyF, .linkMapF {
        font-size: 0.5rem;
        padding-left: 0.4rem;
    }

    .linkContactF {
        font-size: 0.5rem;
        margin-top: 0.5rem;
    }

    .infoContact {
        font-size: 0.5rem;
        margin-top: 0.2rem;
    }

    .infoProduction {
        font-size: 0.5rem;
        margin-bottom: 1rem;
    }

    .infoProduction p {
        margin-top: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 0;
    }

    .infoProduction img {
        width: 2%;
    }

    }

    /* Large devices (desktops, 1229px and 992px) */
    @media (max-width: 1229px) and (min-width: 992px) {
    /* Header Navbar */
    .containerImageLogo {
        padding-top: 0.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .titleLetters {
        padding-left: 1.5rem!important;
    }

    .titleLetters > li  {
        font-size: 3rem;
    }

    .containerArguments {
        margin-top: 2rem;
    }

    .arguments p {
        font-size: 0.7rem;
        margin-bottom: 0;
    }

    .slogan {
        font-size: 0.7rem;
        padding-left: 0.9rem;
    }

    .containerNavbar {
        margin-top: 0;
    }

    .containerBreadcrumb {
        margin-left: 4rem;
        font-size: 0.7rem;
    }

    .headerNavbar > li {
        font-size: 0.1rem;
    }

    .linkHome, .linkCatalogue, .linkNovelties, .linkContact, .linkAbout, .linkPresentation, .linkSoftToys, .linkComforters, .linkRattles,
    .linkToys, .linkFloorMats, .linkBlankets, .linkGrannys, .linkSlippers, .linkAccessories, .linkAboutMe, .linkCleaning, .linkPolicy {
        font-size: 0.8rem;
        padding-left: 0.6rem;
    }

    .list-inline-item {
        margin-right: 0!important;
    }

    .headerNavbarBurger {
        display: none!important;
    }

    /* Body */
    .imageBabyRoomFull {
        display: none;
    }

    /* Drawing button slippers - Chaussons */
    .linkSlippersBrownDrawing img {
        width: 30px;
        top: 19%;
    }
    
    /* Drawing button rabbit comforter - Doudou lapin */
    .linkRabbitComforterDrawing img {
        width: 50px;
        top: 50%;
    }

    /* Drawing button floor mat - Tapis de sol */
    .linkFloorMatDrawing img {
        width: 150px;
        top: 40%;
    }

    /* Drawing button rabbit rattle - Hochet lapin */
    .linkRabbitRattleDrawing img {
        width: 33px;
        top: 55%;
    }

    /* Drawing button drawing board - Tableau dessin */
    .DrawingBoardDrawing img {
        width: 125px;
        top: 24%;
    }

    /* Text drawing board - Texte Nouveautés */
    .NoveltiesText {
        font-size: 0.6rem;
        left: 31%;
        top: 31%;
    }

    /* Drawing button soft toy - Amigurumi */
    .linkSoftToyDrawing img {
        width: 60px;
        top: 55%;
    }

    /* Drawing dog - Bingo */
    .dogDrawing img {
        width: 60px;
        left: 42%;
        top: 45%;
    }

    /* Drawing button cradle - Berceau */
    .linkCradleDrawing img {
        width: 250px;
        left: 50%;
        top: 21%;
    }

    /* Footer Navbar */
    .footerNavbar {
        padding-top: 0.1rem;
    }

    .list-inline {
        margin: 0;
    }

    .linkPresentationF, .linkSoftToysF, .linkComfortersF, .linkRattlesF, .linkToysF, .linkFloorMatsF, .linkBlanketsF, .linkGrannysF, .linkSlippersF, .linkAccessoriesF,
    .linkNoveltiesF, .linkHomeF, .linkCatalogueF, .linkAboutF, .linkAboutMeF, .linkCleaningF, .linkPolicyF, .linkMapF {
        font-size: 0.7rem;
        padding-left: 0.6rem;
    }

    .linkContactF {
        font-size: 0.7rem;
        margin-top: 1rem;
    }

    .infoContact {
        font-size: 0.6rem;
        margin-top: 0.3rem;
    }

    .infoProduction {
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }

    .infoProduction p {
        margin-top: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 0;
    }

    .infoProduction img {
        width: 2%;
    }

    }

    /* Extra large devices (large desktops, 1649px and 1230px) */
    @media (max-width: 1649px) and (min-width: 1230px) {
    /* Header Navbar */
    .containerImageLogo {
        padding-top: 0.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .titleLetters {
        padding-left: 1.5rem!important;
    }

    .titleLetters > li  {
        font-size: 3.9rem;
    }

    .containerArguments {
        margin-top: 2rem;
    }

    .arguments p {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .slogan {
        font-size: 0.9rem;
        padding-left: 0.9rem;
    }

    .containerNavbar {
        margin-top: 0;
    }

    .containerBreadcrumb {
        margin-left: 6rem;
        font-size: 0.9rem;
    }

    .headerNavbar > li {
        font-size: 10rem;
    }

    .linkHome, .linkCatalogue, .linkNovelties, .linkContact, .linkAbout, .linkPresentation, .linkSoftToys, .linkComforters, .linkRattles,
    .linkToys, .linkFloorMats, .linkBlankets, .linkGrannys, .linkSlippers, .linkAccessories, .linkAboutMe, .linkCleaning, .linkPolicy {
        font-size: 1.1rem;
        padding-left: 0.6rem;
    }

    .list-inline-item {
        margin-right: 0!important;
    }

    .headerNavbarBurger {
        display: none!important;
    }

    /* Body */
    .imageBabyRoomFull {
        display: none;
    }

    /* Drawing button slippers - Chaussons */
    .linkSlippersBrownDrawing img {
        width: 35px;
        top: 20%;
    }
    
    /* Drawing button rabbit comforter - Doudou lapin */
    .linkRabbitComforterDrawing img {
        width: 90px;
        top: 50%;
    }

    /* Drawing button floor mat - Tapis de sol */
    .linkFloorMatDrawing img {
        width: 200px;
        top: 41%;
    }

    /* Drawing button rabbit rattle - Hochet lapin */
    .linkRabbitRattleDrawing img {
        width: 55px;
        top: 65%;
    }

    /* Drawing button drawing board - Tableau dessin */
    .DrawingBoardDrawing img {
        width: 160px;
        top: 24%;
    }

    /* Text drawing board - Texte Nouveautés */
    .NoveltiesText {
        font-size: 0.8rem;
        left: 31%;
        top: 31%;
    }

    /* Drawing button soft toy - Amigurumi */
    .linkSoftToyDrawing img {
        width: 80px;
        top: 60%;
    }

    /* Drawing dog - Bingo */
    .dogDrawing img {
        width: 80px;
        left: 42%;
        top: 45%;
    }

    /* Drawing button cradle - Berceau */
    .linkCradleDrawing img {
        width: 350px;
        left: 50%;
        top: 21%;
    }

    /* Footer Navbar */
    .footerNavbar {
        padding-top: 0.5rem;
    }

    .list-inline {
        margin: 0;
    }

    .linkPresentationF, .linkSoftToysF, .linkComfortersF, .linkRattlesF, .linkToysF, .linkFloorMatsF, .linkBlanketsF, .linkGrannysF, .linkSlippersF, .linkAccessoriesF,
    .linkNoveltiesF, .linkHomeF, .linkCatalogueF, .linkAboutF, .linkAboutMeF, .linkCleaningF, .linkPolicyF, .linkMapF {
        font-size: 0.9rem;
        padding-left: 0.8rem;
    }

    .linkContactF {
        font-size: 0.9rem;
        margin-top: 1.5rem;
    }

    .infoContact {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }

    .infoProduction {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .infoProduction p {
        margin-top: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 0;
    }

    .infoProduction img {
        width: 2%;
    }

    }

    /* Extremely large devices (large desktops, 1650px and up) */
    @media (min-width: 1650px) {
    /* Header Navbar */
    .containerImageLogo {
        padding-top: 1.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .titleLetters {
        padding-left: 1.5rem!important;
    }

    .titleLetters > li  {
        font-size: 5.8rem;
    }

    .containerArguments {
        margin-top: 4rem;
    }

    .arguments p {
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-left: 0.5rem;
        padding-bottom: 3rem;
    }

    .slogan {
        font-size: 1.2rem;
        padding-left: 0.8rem;
    }

    .containerNavbar {
        margin-top: 0.5rem;
    }

    .containerBreadcrumb {
        margin-left: 8rem;
        font-size: 1rem;
    }

    .linkHome, .linkCatalogue, .linkNovelties, .linkContact, .linkAbout, .linkPresentation, .linkSoftToys, .linkComforters, .linkRattles,
    .linkToys, .linkFloorMats, .linkBlankets, .linkGrannys, .linkSlippers, .linkAccessories, .linkAboutMe, .linkCleaning, .linkPolicy {
        font-size: 1.3rem;
        padding-left: 1.5rem;
    }

    .list-inline-item {
        margin-right: 0!important;
    }

    .headerNavbarBurger {
        display: none!important;
    }

    /* Body */
    .imageBabyRoomFull {
        display: none;
    }

    /* Drawing button slippers - Chaussons */
    .linkSlippersBrownDrawing img {
        width: 48px;
        top: 21%;
    }

    /* Drawing button rabbit comforter - Doudou lapin */
    .linkRabbitComforterDrawing img {
        width: 110px;
        top: 55%;
    }

    /* Drawing button floor mat - Tapis de sol */
    .linkFloorMatDrawing img {
        width: 280px;
        top: 44%;
    }

    /* Drawing button rabbit rattle - Hochet lapin */
    .linkRabbitRattleDrawing img {
        width: 65px;
        top: 63%;
    }

    /* Drawing button drawing board - Tableau dessin */
    .DrawingBoardDrawing img {
        width: 210px;
        top: 24%;
    }

    /* Text drawing board - Texte Nouveautés */
    .NoveltiesText {
        font-size: 1rem;
        left: 31%;
        top: 31%;
    }

    /* Drawing button soft toy - Amigurumi */
    .linkSoftToyDrawing img {
        width: 100px;
        top: 59%;
    }

    /* Drawing dog - Bingo */
    .dogDrawing img {
        width: 115px;
        left: 42%;
        top: 45%;
    }

    /* Drawing button cradle - Berceau */
    .linkCradleDrawing img {
        width: 450px;
        left: 50%;
        top: 21%;
    }

    /* Footer Navbar */
    .footerNavbar {
        padding-top: 0.8rem;
    }

    .list-inline {
        margin: 0;
    }

    .linkPresentationF, .linkSoftToysF, .linkComfortersF, .linkRattlesF, .linkToysF, .linkFloorMatsF, .linkBlanketsF, .linkGrannysF, .linkSlippersF, .linkAccessoriesF,
    .linkNoveltiesF, .linkHomeF, .linkCatalogueF, .linkAboutF, .linkAboutMeF, .linkCleaningF, .linkPolicyF, .linkMapF {
        font-size: 1.2rem;
        padding-left: 1.5rem;
    }

    .linkContactF {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .infoContact {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .infoProduction {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .infoProduction p {
        margin-top: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 0;
    }

    .infoProduction img {
        width: 2%;
    }

}