<!DOCTYPE html>

<html lang="fr">

    <head>

        <title>{% block title %}Les Trésors de Grany{% endblock %}</title>

        <meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<meta name="robot" content="index, follow, archive"/>

		<meta name="description" lang="fr" content="Réalisation au crochet de peluches (Amigurumi), doudous, hochets, jouets, tapis de sol, couvertures, chaussons"/>

		<meta name="author" content="Vincent PENET"/>

        <!-- Icône de la page -->
		<link rel="icon" type="image/png" href="{{ asset('build/images/logo-grany.png')}}"/>

        {# TODO: Choisir une police #}
        <!-- Google Fonts -->
		<!-- Font Pacifico et roboto ?????? -->
        {# <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto"> #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script">
		
        {# TODO: Revoir le chemin #}
		<!-- Fichier Media Query -->
		<link rel="stylesheet" href="./public/css/media-queries.css"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body>
        <!-- Container Page -->
		<div class="container-fluid">

        {% block header %}
            {% include 'partials/_header.html.twig' %}
        {% endblock %}

        {% block body %}
        
        {% endblock %}

        {% block footer %}
            {% include 'partials/_footer.html.twig' %}
        {% endblock %}

        </div>

    </body>

</html>
