<!DOCTYPE html>

<html lang="fr">

    <head>

        <title>{% block title %}Les Trésors de Grany{% endblock %}</title>

        <meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<meta name="robot" content="index, follow, archive"/>

		<meta name="description" lang="fr" content="Réalisation au crochet de peluches (Amigurumi), doudous, hochets, jouets, tapis de sol, couvertures, chaussons"/>

		<meta name="author" content="Vincent PENET"/>

        {# TODO: A revoir #}
		<link rel="icon" type="image/png" href="../public/logos/logo-grany.png">

        {# TODO: A revoir #}
		<!-- Font Roboto -->
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap">
		
        {# TODO: A revoir #}
		<!-- Fichier Media Query -->
		<link rel="stylesheet" href="./public/css/media-queries.css"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body>

        {% block body %}
        
        {% endblock %}

    </body>

</html>
